<div class="kss-fonts">
  <div class="kss-fonts__item" style="font-family: 'Source Sans Pro'; font-weight: 400;">
    <div class="kss-fonts__example">AaBbCc<br/>01234</div>
    <h2 class="kss-fonts__name">Source Sans Pro</h2>
    <div class="kss-fonts__weight">Regular (400)</div>
    <hr class="kss-divider" />
    <div class="kss-fonts__paragraph">Donec rutrum congue leo eget malesuada. Proin eget tortor risus. Sed porttitor lectus nibh. Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur aliquet quam id dui posuere blandit. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.</div>
  </div>
  <div class="kss-fonts__item" style="font-family: 'Source Sans Pro'; font-weight: 600;">
    <div class="kss-fonts__example">AaBbCc<br/>01234</div>
    <h2 class="kss-fonts__name">Source Sans Pro</h2>
    <div class="kss-fonts__weight">Semibold (600)</div>
    <hr class="kss-divider" />
    <div class="kss-fonts__paragraph">Donec rutrum congue leo eget malesuada. Proin eget tortor risus. Sed porttitor lectus nibh. Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur aliquet quam id dui posuere blandit. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.</div>
  </div>
  <div class="kss-fonts__item" style="font-family: 'Source Sans Pro'; font-weight: 700;">
    <div class="kss-fonts__example">AaBbCc<br/>01234</div>
    <h2 class="kss-fonts__name">Source Sans Pro</h2>
    <div class="kss-fonts__weight">Bold (700)</div>
    <hr class="kss-divider" />
    <div class="kss-fonts__paragraph">Donec rutrum congue leo eget malesuada. Proin eget tortor risus. Sed porttitor lectus nibh. Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur aliquet quam id dui posuere blandit. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.</div>
  </div>
</div>