<div class="o-wrapper kss-wrapper">
  <div class="o-fauxRow kss-row">
    This is a regular faux row. Padding at top.
  </div>
  <div class="o-fauxRow -small kss-row">
    This is a small faux row. Padding at top.
  </div>
  <div class="o-fauxRow -large kss-row">
    This is a large faux row. Padding at top.
  </div>
</div>