<div class="o-wrapper">
  <div class="o-row -small">
    <div class="o-6-12@large u-left@large kss-grid">
      <div class="o-4-12@large u-left@large kss-grid">4/12 inside 6/12</div>
      <div class="o-4-12@large u-left@large kss-grid">4/12 inside 6/12</div>
      <div class="o-4-12@large u-left@large kss-grid">4/12 inside 6/12</div>
    </div>
    <div class="o-6-12@large u-left@large kss-grid">
      <div class="o-6-12@large u-left@large kss-grid">6/12 inside 6/12</div>
      <div class="o-6-12@large u-left@large kss-grid">6/12 inside 6/12</div>     
    </div>
  </div>
  <div class="o-row -small">
    <div class="o-8-12@large u-left@large kss-grid">
      <div class="o-6-12@large u-left@large kss-grid">6/12 inside 8/12</div>
      <div class="o-6-12@large u-left@large kss-grid">6/12 inside 8/12</div> 
    </div>
    <div class="o-2-12@large u-left@large kss-grid">Not nested</div>
    <div class="o-2-12@large u-left@large u-last@large kss-grid">Not nested</div>
  </div>
</div>