<div class="o-wrapper">
  <div class="o-row -small">
    <div class="o-6-12@large u-left@large kss-grid">
      6/12
    </div>
    <div class="o-6-12@large u-left@large kss-grid">
      6/12
    </div>
  </div>
  <div class="o-row -small">
    <div class="o-4-12@large u-left@large kss-grid">
      4/12
    </div>
    <div class="o-4-12@large u-left@large kss-grid">
      4/12
    </div>
    <div class="o-4-12@large u-left@large kss-grid">
      4/12
    </div>
  </div>
  <div class="o-row -small">
    <div class="o-3-12@large u-left@large kss-grid">
      3/12
    </div>
    <div class="o-3-12@large u-left@large kss-grid">
      3/12
    </div>
    <div class="o-3-12@large u-left@large kss-grid">
      3/12
    </div>
    <div class="o-3-12@large u-left@large kss-grid">
      3/12
    </div>
  </div>
  <div class="o-row -small">
    <div class="o-2-12@large u-left@large kss-grid">
      2/12
    </div>
    <div class="o-2-12@large u-left@large kss-grid">
      2/12
    </div>
    <div class="o-2-12@large u-left@large kss-grid">
      2/12
    </div>
    <div class="o-2-12@large u-left@large kss-grid">
      2/12
    </div>
    <div class="o-2-12@large u-left@large kss-grid">
      2/12
    </div>
    <div class="o-2-12@large u-left@large kss-grid">
      2/12
    </div>
  </div>
  <div class="o-row -small">
    <div class="o-1-12@large u-left@large kss-grid">
      1/12
    </div>
    <div class="o-1-12@large u-left@large kss-grid">
      1/12
    </div>
    <div class="o-1-12@large u-left@large kss-grid">
      1/12
    </div>
    <div class="o-1-12@large u-left@large kss-grid">
      1/12
    </div>
    <div class="o-1-12@large u-left@large kss-grid">
      1/12
    </div>
    <div class="o-1-12@large u-left@large kss-grid">
      1/12
    </div>
    <div class="o-1-12@large u-left@large kss-grid">
      1/12
    </div>
    <div class="o-1-12@large u-left@large kss-grid">
      1/12
    </div>
    <div class="o-1-12@large u-left@large kss-grid">
      1/12
    </div>
    <div class="o-1-12@large u-left@large kss-grid">
      1/12
    </div>
    <div class="o-1-12@large u-left@large kss-grid">
      1/12
    </div>
    <div class="o-1-12@large u-left@large kss-grid">
      1/12
    </div>
  </div>
  <div class="o-row -small">
    <div class="o-3-12@large u-left@large kss-grid">
      3/12
    </div>
    <div class="o-3-12@large u-left@large kss-grid">
      3/12
    </div>
    <div class="o-6-12@large u-left@large u-last@large kss-grid">
      6/12
    </div>
  </div>
  <div class="o-row -small">
    <div class="o-3-12@large u-left@large kss-grid">
      3/12
    </div>
    <div class="o-5-12@large u-left@large kss-grid">
      5/12
    </div>
    <div class="o-2-12@large u-left@large kss-grid">
      2/12
    </div>
    <div class="o-2-12@large u-left@large u-last@large kss-grid">
      2/12
    </div>
  </div>
  <div class="o-row -small">
    <div class="o-2-12@large u-left@large kss-grid">
      2/12
    </div>
    <div class="o-8-12@large u-left@large kss-grid">
      8/12
    </div>
    <div class="o-2-12@large u-left@large u-last@large kss-grid">
      2/12
    </div>
  </div>
  <div class="o-row -small">
    <div class="o-7-12@large u-left@large kss-grid">
      7/12
    </div>
    <div class="o-4-12@large u-left@large kss-grid">
      4/12
    </div>
    <div class="o-1-12@large u-left@large u-last@large kss-grid">
      1/12
    </div>
  </div>
</div>