<div class="o-wrapper">
  <div class="o-row -small">
    <div class="o-8-12@large u-center kss-grid">Centered 8/12</div>
  </div>
  <div class="o-row -small">
    <div class="o-6-12@large u-center kss-grid">Centered 6/12</div>
  </div>
  <div class="o-row -small">
    <div class="o-9-12@large u-center kss-grid">Centered 9/12</div>
  </div>
  <div class="o-row -small">
    <div class="o-5-12@large u-center kss-grid">Centered 5/12</div>
  </div>
  <div class="o-row -small">
    <div class="o-2-12@large u-center kss-grid">Centered 2/12</div>
  </div>
</div>