<div class="o-wrapper kss-wrapper">
  <div class="o-row kss-row">
    This is a regular row. Margin at bottom.
  </div>
  <div class="o-row -small kss-row">
    This is a small row. Margin at bottom.
  </div>
  <div class="o-row -large kss-row">
    This is a large row. Margin at bottom.
  </div>
</div>