@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700);@import url(https://fonts.googleapis.com/css?family=Montserrat:400,600);/* stylelint-disable max-nesting-depth */
/* stylelint-enable max-nesting-depth */
.kss-modifier__heading {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  width: 0.0625rem;
  height: 1px;
  height: 0.0625rem;
  margin: -1px;
  margin: -0.0625rem;
  border: 0; }

.kss {
  font-family: "Montserrat", sans-serif;
  position: relative;
  min-height: 100%;
  color: #384252;
  background-color: #fafafa; }

.kss-sidebar {
  padding: 0.6em 1em;
  border-bottom: 2px solid #ebebeb;
  background-color: #fff; }
  @media (min-width: 48em) {
    .kss-sidebar {
      position: fixed;
      overflow: auto;
      width: 20%;
      height: 100%;
      padding: 3.5em 3.5em 0;
      border-right: 2px solid #ebebeb;
      border-bottom: 0;
      -webkit-box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.05);
      -webkit-box-shadow: 0.0625rem 0 0.125rem 0 rgba(0, 0, 0, 0.05);
              box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.05);
              box-shadow: 0.0625rem 0 0.125rem 0 rgba(0, 0, 0, 0.05); } }

.kss-header {
  margin-bottom: 3em; }
  .kss-header__title {
    font-size: 22px;
    font-size: 1.375rem;
    margin: 0; }
    @media (min-width: 34.375em) {
      .kss-header__title {
        font-size: 32px;
        font-size: 2rem; } }
    @media (min-width: 75em) {
      .kss-header__title {
        font-size: 42px;
        font-size: 2.625rem; } }
  .kss-header__subtitle {
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: 600;
    margin: 0; }
    @media (min-width: 34.375em) {
      .kss-header__subtitle {
        font-size: 22px;
        font-size: 1.375rem; } }
    @media (min-width: 75em) {
      .kss-header__subtitle {
        font-size: 32px;
        font-size: 2rem; } }
  .kss-header__version {
    font-size: 18px;
    font-size: 1.125rem;
    margin: 0;
    color: #61738f; }

.kss-main {
  width: 100%;
  margin: 0 auto;
  padding: 1em; }
  @media (min-width: 48em) {
    .kss-main {
      width: 80%;
      margin-left: 20%;
      padding: 3.5em; } }

.kss-divider {
  width: 120px;
  width: 7.5rem;
  margin: 3em 0;
  border: 0;
  border-bottom: 0.2em solid rgba(0, 0, 0, 0.08); }

.kss-nav__menu {
  margin: 0;
  padding: 0;
  list-style: none; }
  .kss-nav__menu.-child {
    margin: 0.5em 0 0.5em 2em; }
  .kss-nav__menu__item {
    margin-bottom: 0.2em;
    margin-left: -8px;
    margin-left: -0.5rem; }
  .kss-nav__menu__link {
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    font-size: 18px;
    font-size: 1.125rem;
    position: relative;
    display: inline-block;
    padding: 5px 12px;
    padding: 0.3125rem 0.75rem;
    border-radius: 10px;
    background-color: transparent; }
    @media (min-width: 34.375em) {
      .kss-nav__menu__link {
        font-size: 20px;
        font-size: 1.25rem; } }
    @media (min-width: 75em) {
      .kss-nav__menu__link {
        font-size: 24px;
        font-size: 1.5rem; } }
    .kss-nav__menu__link.-child {
      font-size: 18px;
      font-size: 1.125rem; }
    .kss-nav__menu__link.-active, .kss-nav__menu__link:hover, .kss-nav__menu__link:focus, .kss-nav__menu__link:active {
      text-decoration: none;
      background-color: #e2f0fd; }
  .kss-nav__menu__ref {
    font-size: 0.8em;
    margin-right: 0.5em;
    vertical-align: text-top;
    color: #2790ec; }
  .kss-nav__menu__name {
    font-weight: 600;
    color: #1276ce; }

.kss-nav__group {
  margin: 40px 0;
  margin: 2.5rem 0; }
  .kss-nav__group__name {
    font-size: 18px;
    font-size: 1.125rem;
    margin: 0 0 0 -8px;
    margin: 0 0 0 -0.5rem;
    padding: 5px 12px;
    padding: 0.3125rem 0.75rem;
    color: #61738f; }

.kss-section {
  margin-bottom: 4em; }

.kss-overview h1 {
  font-size: 56px;
  font-size: 3.5rem;
  margin: 0 0 0.3em; }

.kss-overview h2 {
  font-size: 42px;
  font-size: 2.625rem;
  margin: 0 0 0.3em; }

.kss-overview h2 {
  font-size: 36px;
  font-size: 2.25rem;
  margin: 0 0 0.3em; }

.kss-overview p,
.kss-overview ol,
.kss-overview ul {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.5;
  max-width: 42em;
  margin: 0 0 1.6em; }

.kss-title {
  color: #384252; }
  .kss-title--level-1 {
    font-size: 56px;
    font-size: 3.5rem;
    margin: 0 0 0.3em; }
  .kss-title--level-2 {
    font-size: 42px;
    font-size: 2.625rem;
    margin: 0 0 0.3em; }
  .kss-title--level-3 {
    font-size: 36px;
    font-size: 2.25rem;
    margin: 0 0 0.3em; }
  .kss-title__ref {
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1;
    display: block;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #7d8da6; }
  .kss-title__permalink {
    color: #384252; }
    .kss-title__permalink-hash {
      -webkit-transition: all 0.15s ease-in-out;
      transition: all 0.15s ease-in-out;
      margin-left: 0.5em;
      text-decoration: none;
      opacity: 0; }
    .kss-title__permalink:hover, .kss-title__permalink:focus, .kss-title__permalink:active {
      text-decoration: none; }
      .kss-title__permalink:hover-hash, .kss-title__permalink:focus-hash, .kss-title__permalink:active-hash {
        opacity: 1; }

.kss-description {
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 1.5;
  max-width: 42em;
  margin: 0 0 1.6em;
  color: #4d5a70; }
  .kss-description p {
    margin: 0 0 1.6em; }
    .kss-description p:last-child {
      margin-bottom: 0; }
  .kss-description a {
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    text-decoration: none;
    border-bottom: 0.02em solid #1276ce; }
    .kss-description a:hover, .kss-description a:focus, .kss-description a:active {
      color: #384252;
      border-color: #384252;
      background-color: #e8da61; }
  .kss-description h1 {
    font-size: 42px;
    font-size: 2.625rem;
    margin: 0 0 0.2em; }
  .kss-description h2 {
    font-size: 36px;
    font-size: 2.25rem;
    margin: 1em 0 0.2em; }
  .kss-description h3 {
    font-size: 28px;
    font-size: 1.75rem;
    margin: 1em 0 0.2em; }
  .kss-description hr {
    width: 120px;
    width: 7.5rem;
    margin: 3em 0;
    border: 0;
    border-bottom: 0.2em solid rgba(0, 0, 0, 0.08); }

.kss-markup pre {
  margin: 0; }

.kss-markup {
  font-size: 2em; }

.kss-modifier__name {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5em;
  border-bottom: 1px solid #ebebeb;
  border-left: 1px solid #ebebeb;
  background: white; }

.kss-modifier__description {
  font-size: 0.9em;
  font-weight: bold;
  margin: -0.8em 0 1em; }

.kss-markup__button {
  margin-top: 0.8em;
  padding: 0.2em 0.5em;
  border: 0;
  background-color: #ebebeb; }

.kss-source {
  font-size: 0.9em;
  display: inline-block;
  margin: 1em 0;
  padding: 0.2em 0.6em; }

.kss-color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.kss-color__group {
  float: left;
  overflow: hidden;
  margin-right: 1.8em;
  margin-bottom: 1.8em;
  border-radius: 6px;
  -webkit-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0 0.0625rem 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 0.0625rem 0 rgba(0, 0, 0, 0.4); }
  @media (min-width: 48em) {
    .kss-color__group {
      width: 22%;
      margin-right: 3%; } }

.kss-color__item {
  position: relative;
  width: 100%;
  height: 5em; }

.kss-color__desc {
  position: absolute;
  top: 50%;
  left: 1em;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #384252; }
  .kss-color__desc.-light {
    color: #fff; }

.kss-color__name {
  font-family: inherit;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 600;
  display: inline-block;
  margin: 0;
  text-transform: capitalize;
  background-color: transparent; }

.kss-color__code {
  font-family: inherit;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 700;
  font-weight: normal;
  display: inline-block;
  padding: 0;
  opacity: 0.7;
  border: 0;
  background-color: transparent; }

.kss-color__button {
  font-weight: 700;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
  color: #384252;
  border: 0; }
  .kss-color__button.-light {
    color: #fff; }
  .kss-color__item:hover .kss-color__button {
    opacity: 1; }

.kss-wrapper {
  min-height: 60px;
  min-height: 3.75rem;
  padding: 0 10px;
  padding: 0 0.625rem;
  background-color: #b7b9bc; }

.kss-row {
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 60px;
  line-height: 3.75rem;
  height: 60px;
  height: 3.75rem;
  text-align: center;
  color: #fff;
  background-color: #606366; }

.kss-grid {
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 60px;
  line-height: 3.75rem;
  height: 60px;
  height: 3.75rem;
  text-align: center;
  color: transparent;
  background-color: #606366; }
  .kss-grid:hover, .kss-grid:focus, .kss-grid:active {
    color: #fff; }
  .kss-grid .kss-grid {
    line-height: 40px;
    line-height: 2.5rem;
    height: 40px;
    height: 2.5rem;
    margin-top: 10px;
    margin-top: 0.625rem;
    margin-bottom: 10px;
    margin-bottom: 0.625rem;
    background-color: #808387; }

[aria-hidden='true'],
[data-a11y-toggle]:not([aria-controls]) {
  display: none; }

.kss-fonts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .kss-fonts__item {
    float: left;
    width: 30%;
    margin-right: 3%; }
  .kss-fonts__example {
    font-size: 62px;
    font-size: 3.875rem;
    line-height: 1.1;
    margin-bottom: 0.4em; }
  .kss-fonts__name {
    font-size: 26px;
    font-size: 1.625rem;
    font-weight: inherit;
    margin: 0; }
  .kss-fonts__weight {
    font-size: 18px;
    font-size: 1.125rem; }
  .kss-fonts__paragraph {
    font-size: 26px;
    font-size: 1.625rem;
    line-height: 1.65; }
