// Import settings from client theme
@import '../../../../scss/settings/global';
@import '../../../../scss/settings/breakpoints';
@import '../../../../scss/settings/colors';
@import '../../../../scss/settings/fonts';
@import '../../../../scss/settings/grid';
@import '../../../../scss/settings/z-layers';

// Import tools from client theme
@import '../../../../scss/tools/functions';
@import '../../../../scss/tools/mixins';
@import '../../../../scss/tools/helpers';

// KSS styles start here
html {
  position: relative;
}

.kss-sidebar {
  padding: 0.6em 1em;
  background: color('white');
  border-bottom: 2px solid darken(color('white'), 8%);

  @include respond-to('large') {
    position: fixed;
    width: 20%;
    height: 100%;
    overflow: auto;
    padding: 1.5em 0 0;
    border-right: 2px solid darken(color('white'), 8%);
    border-bottom: 0;
  }
}

.kss-header {
  @include respond-to('large') {
    padding: 0 1.5em;
  }
}

.kss-logo {
  max-height: 50px;
  margin: 0 auto;
}

.kss-doc-title {
  font-size: 1.8em;
  line-height: 1.1;
  text-align: center;
}

.kss-main {
  width: 100%;
  padding: 1em;
  margin: 0 auto;

  @include respond-to('large') {
    width: 80%;
    margin-left: 20%;
    padding: 2em;
  }
}

.kss-overview {
  @include respond-to('large') {
    margin-top: 4em;
  }

  h1 {
    font-family: $bailey;
  }

  h1 + p {
    font-family: $bailey;
    font-size: 1.4em;
  }

  hr {
    border-color: color('grey','lighter');
    margin: 3em 0;
  }
}

.kss-nav__menu {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;

  @include respond-to('large') {
    border-bottom: 2px solid darken(color('white'), 8%);
    text-align: left;
  }

  &-child {
    border-top: 2px solid darken(color('white'), 8%);
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;

    @include respond-to('large') {
      display: block;
    }

    .kss-nav__menu-item {
      .kss-nav__menu-link {
        padding-left: 1.8em;
        border-left: 6px solid darken(color('white'), 8%);
      }
    }
  }

  &-item {
    display: inline-block;

    @include respond-to('large') {
      display: block;
      border-bottom: 2px solid #ebebeb;

      &:last-child {
        border: 0;
      }
    }
  }
}

.kss-nav__menu-link {
  @include transition;
  display: inline-block;
  padding: 0.2em 0.25em;
  color: currentColor;

  @include respond-to('large') {
    display: block;
    padding: 0.6em 1em;
  }

  &:hover,
  &:focus,
  &:active,
  &.is-in-viewport {
    background: darken(color('white'), 8%);
    text-decoration: none;

    .kss-nav__name {
      text-decoration: underline;
    }

    .kss-nav__ref {
      text-decoration: none;
      opacity: 0.8;
    }
  }
}

.kss-nav__ref {
  @include transition;
  font-weight: bold;
  opacity: 0.2;
  margin-right: 0.3em;
  //display: none; /* Hide unless we need it */
}

.kss-section {
  margin-bottom: 1.75em;

  @include respond-to('large') {
    margin-bottom: 3.75em;
  }
}

.kss-title__permalink {
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;

    .kss-title__permalink-hash {
      opacity: 0.6;
    }
  }
}

.kss-title__permalink-hash {
  @include transition;
  opacity: 0;
  margin-left: 0.5em;
  text-decoration: none;
}

.kss-title__ref {
  font-size: 1rem;
  line-height: 1.6;
  font-weight: bold;
  display: block;
  opacity: 0.6;
  text-decoration: none;
}

.kss-modifier__wrapper,
.kss-markup {
  border: 2px solid darken(color('white'), 10%);

  pre {
    margin: 0;
  }
}

.kss-markup {
  font-size: 2em;
}

.kss-modifier__heading {
  @extend %visually-hidden;
}

.kss-modifier {
  border-bottom: 1px solid darken(color('white'), 8%);
  padding: 2em;
  position: relative;
  overflow: hidden;
  background: color('white');
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.05);

  &:last-child {
    border-bottom: 0;
  }
}

.kss-modifier__name {
  position: absolute;
  top: 0;
  right: 0;
  background: white;
  border-left: 1px solid darken(color('white'), 8%);
  border-bottom: 1px solid darken(color('white'), 8%);
  padding: 0.5em;
}

.kss-modifier__description {
  // background: color('white');
  // position: absolute;
  // top: -1.6em;
  // left: 2%;
  // padding: 0.8em 1.8em;
  font-size: 0.9em;
  font-weight: bold;
  margin: -0.8em 0 1em;
}

.kss-markup__button {
  margin-top: 0.8em;
  background-color: darken(color('white'), 8%);
  padding: 0.2em 0.5em;
  border: 0;
}

.kss-source {
  margin: 1em 0;
  display: inline-block;
  padding: 0.2em 0.6em;
  font-size: 0.9em;
}

.kss-colors {
  overflow: hidden;
  float: left;
  margin-right: 1.8em;
}

.kss-color {
  float: left;
  margin-bottom: 1.8em;
}

.kss-color__swatch {
  width: 10em;
  height: 7em;
}

.kss-color__code {
  font-size: 1.8em;
  font-weight: bold;
}

.kss-color__desc {
  margin: 0;
}

.kss-wrapper {
  background: #ddd;
  min-height: 2em;
  text-align: center;
  padding: 0.2em 0;
}

.kss-row {
  overflow: hidden;
  background: #999;
  min-height: 2em;
  text-align: center;
  padding: 0.2em 0;
  color: #fff;
}

.kss-grid {
  overflow: hidden;
  background: #666;
  min-height: 2em;
  padding: 0.2em 0;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-align: center;
}

.c-body p:last-child {
  margin-bottom: 1.6em !important;
}
