@font-face {
  font-family: 'BaileySans';
  src: url("../fonts/47c763ea-084a-46ab-99aa-d4f5f0448a9a.woff2") format("woff2"), url("../fonts/d4dcda7c-1162-4849-86ad-8c3710687c10.woff") format("woff"), url("../fonts/50ba5770-1aa2-45e7-a006-4ed5680dd0e0.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'BaileySans';
  src: url("../fonts/7e4132c8-ead5-4aca-8bd4-4cf997fa7405.woff2") format("woff2"), url("../fonts/251f4b6b-9fff-4d66-9ff9-3ca5d90f3db1.woff") format("woff"), url("../fonts/3dbdb32e-fd26-4fb5-b2cf-76c683938317.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Sabon';
  src: url("../fonts/ef12a52c-a47f-49fe-b5bb-ee15aa7b5377.woff2") format("woff2"), url("../fonts/13b0a4ee-3238-4837-bb6e-162ae2990401.woff") format("woff"), url("../fonts/39085db1-1140-43b6-bd13-a6f8a8d99ea7.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

.kss-modifier__heading {
  width: 1px;
  height: 1px;
  position: absolute;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0; }

html {
  position: relative; }

.kss-sidebar {
  padding: 0.6em 1em;
  background: #fff;
  border-bottom: 2px solid #ebebeb; }
  @media (min-width: 48em) {
    .kss-sidebar {
      position: fixed;
      width: 20%;
      height: 100%;
      overflow: auto;
      padding: 1.5em 0 0;
      border-right: 2px solid #ebebeb;
      border-bottom: 0; } }

@media (min-width: 48em) {
  .kss-header {
    padding: 0 1.5em; } }

.kss-logo {
  max-height: 50px;
  margin: 0 auto; }

.kss-doc-title {
  font-size: 1.8em;
  line-height: 1.1;
  text-align: center; }

.kss-main {
  width: 100%;
  padding: 1em;
  margin: 0 auto; }
  @media (min-width: 48em) {
    .kss-main {
      width: 80%;
      margin-left: 20%;
      padding: 2em; } }

@media (min-width: 48em) {
  .kss-overview {
    margin-top: 4em; } }

.kss-overview h1 {
  font-family: "BaileySans", Helvetica, Arial, "Nimbus Sans L", sans-serif; }

.kss-overview h1 + p {
  font-family: "BaileySans", Helvetica, Arial, "Nimbus Sans L", sans-serif;
  font-size: 1.4em; }

.kss-overview hr {
  border-color: #f4f4f4;
  margin: 3em 0; }

.kss-nav__menu {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center; }
  @media (min-width: 48em) {
    .kss-nav__menu {
      border-bottom: 2px solid #ebebeb;
      text-align: left; } }
  .kss-nav__menu-child {
    border-top: 2px solid #ebebeb;
    margin: 0;
    padding: 0;
    list-style: none;
    display: none; }
    @media (min-width: 48em) {
      .kss-nav__menu-child {
        display: block; } }
    .kss-nav__menu-child .kss-nav__menu-item .kss-nav__menu-link {
      padding-left: 1.8em;
      border-left: 6px solid #ebebeb; }
  .kss-nav__menu-item {
    display: inline-block; }
    @media (min-width: 48em) {
      .kss-nav__menu-item {
        display: block;
        border-bottom: 2px solid #ebebeb; }
        .kss-nav__menu-item:last-child {
          border: 0; } }

.kss-nav__menu-link {
  transition: all 0.2s ease-in-out;
  display: inline-block;
  padding: 0.2em 0.25em;
  color: currentColor; }
  @media (min-width: 48em) {
    .kss-nav__menu-link {
      display: block;
      padding: 0.6em 1em; } }
  .kss-nav__menu-link:hover, .kss-nav__menu-link:focus, .kss-nav__menu-link:active, .kss-nav__menu-link.is-in-viewport {
    background: #ebebeb;
    text-decoration: none; }
    .kss-nav__menu-link:hover .kss-nav__name, .kss-nav__menu-link:focus .kss-nav__name, .kss-nav__menu-link:active .kss-nav__name, .kss-nav__menu-link.is-in-viewport .kss-nav__name {
      text-decoration: underline; }
    .kss-nav__menu-link:hover .kss-nav__ref, .kss-nav__menu-link:focus .kss-nav__ref, .kss-nav__menu-link:active .kss-nav__ref, .kss-nav__menu-link.is-in-viewport .kss-nav__ref {
      text-decoration: none;
      opacity: 0.8; }

.kss-nav__ref {
  transition: all 0.2s ease-in-out;
  font-weight: bold;
  opacity: 0.2;
  margin-right: 0.3em; }

.kss-section {
  margin-bottom: 1.75em; }
  @media (min-width: 48em) {
    .kss-section {
      margin-bottom: 3.75em; } }

.kss-title__permalink:hover, .kss-title__permalink:focus, .kss-title__permalink:active {
  text-decoration: none; }
  .kss-title__permalink:hover .kss-title__permalink-hash, .kss-title__permalink:focus .kss-title__permalink-hash, .kss-title__permalink:active .kss-title__permalink-hash {
    opacity: 0.6; }

.kss-title__permalink-hash {
  transition: all 0.2s ease-in-out;
  opacity: 0;
  margin-left: 0.5em;
  text-decoration: none; }

.kss-title__ref {
  font-size: 1rem;
  line-height: 1.6;
  font-weight: bold;
  display: block;
  opacity: 0.6;
  text-decoration: none; }

.kss-modifier__wrapper,
.kss-markup {
  border: 2px solid #e6e6e6; }
  .kss-modifier__wrapper pre,
  .kss-markup pre {
    margin: 0; }

.kss-markup {
  font-size: 2em; }

.kss-modifier {
  border-bottom: 1px solid #ebebeb;
  padding: 2em;
  position: relative;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.05); }
  .kss-modifier:last-child {
    border-bottom: 0; }

.kss-modifier__name {
  position: absolute;
  top: 0;
  right: 0;
  background: white;
  border-left: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  padding: 0.5em; }

.kss-modifier__description {
  font-size: 0.9em;
  font-weight: bold;
  margin: -0.8em 0 1em; }

.kss-markup__button {
  margin-top: 0.8em;
  background-color: #ebebeb;
  padding: 0.2em 0.5em;
  border: 0; }

.kss-source {
  margin: 1em 0;
  display: inline-block;
  padding: 0.2em 0.6em;
  font-size: 0.9em; }

.kss-colors {
  overflow: hidden;
  float: left;
  margin-right: 1.8em; }

.kss-color {
  float: left;
  margin-bottom: 1.8em; }

.kss-color__swatch {
  width: 10em;
  height: 7em; }

.kss-color__code {
  font-size: 1.8em;
  font-weight: bold; }

.kss-color__desc {
  margin: 0; }

.kss-wrapper {
  background: #ddd;
  min-height: 2em;
  text-align: center;
  padding: 0.2em 0; }

.kss-row {
  overflow: hidden;
  background: #999;
  min-height: 2em;
  text-align: center;
  padding: 0.2em 0;
  color: #fff; }

.kss-grid {
  overflow: hidden;
  background: #666;
  min-height: 2em;
  padding: 0.2em 0;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-align: center; }

.c-body p:last-child {
  margin-bottom: 1.6em !important; }
